:root{
    --base-color: #8d8d8d;
    --text-color: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border-radius: 10px;
    padding: 5px;
    border: none;
    background-color: #001c07;
    color: #ffff;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);

}

button:active{
    background-color: hsl(0, 0%, 60%);
}

#display{
    border: none;
    background-color: #8d8d8d;
    color: #ffff;
    width: 100%;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;


}

.hidden{
    display: none;
}

html{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #001c07;
}

body{
    padding: 1em;
    background-color: var(--base-color);
    display: flex;
    gap: 1rem;
    padding: 1em;
}


nav{
    margin: 0;
    margin-top: 1em;
    width: 210px;

}

html, body{
    margin: 0;
    height: 100%;
}



nav ul{
    display: flex;
    flex-direction: column;
    list-style-type:none;
    margin: 0;
    padding: 0px 15px;
    
    background-color: rgb(255, 255, 255);
    /*height: 85%;
    /*position: fixed;*/
    overflow: auto;
    border-radius: 1em;
}

nav li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  text-decoration: none;
  
  /* Text deco set as none to remove url underline*/
}

/* Change the link and background color on hover */
li a:hover {
  background-color: #555555;
  color: white;
}

li a.active {
  background-color: #001c07;
  color: white;
}


.content {
  flex: 1;               /* takes remaining space */
  padding: 1.5rem;
}

.text-container{
    background-color: #ffff;
    margin: 0;
    margin-top: 1em;
    padding: 1em;
    border-radius: 1em;
    min-height: 100vh;
}
